*{
    color: rgb(13, 13, 76);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
    width: 22%;
    border:1px solid black;
    position: absolute;
}
#container>button{
width: 85%;
display: block;
padding: 10px;
}
#container>button:hover{
    width: 100%;
    background-color: rgb(0, 69, 130);
    border: none;
    color: #fff;
}
#user_id{
    display:flex;    
    gap: 20em;

}
img{
    border-radius: 50%;
    width: 50px;
}
#user_id>div{
    display: block;
}
#user_id>div>a{
    margin-top: -20px;
}