#container {
  width: 34%;
  margin: auto;
  margin-top: 16rem;
}
h1 {
  text-align: center;
  /* width: 90%; */
  margin-bottom: -20px;
  font-family: Arial, Helvetica, sans-serif;
}

input,
#birth {
  padding: 10px;
  width: 90%;
  margin: 7px 3.5%;
  font-size: 1.1rem;
}
#birth {
  width: 93%;
  display: none;
  margin-top: -0.5rem;
  margin-bottom: 20px;
}
p {
  font-size: large;
  text-align: center;
}
button {
  margin: 10px auto 20px 27.5%;
  padding: 10px;
  width: 50%;
  font-size: 01rem;
  background-color: rgb(33, 33, 146);
  color: #ffffff;
  border: none;
}

#big_height_div {
  background-color: #cbf4f3;
  color: black;
  width: 96%;
  height: 80px;
  margin: 1.2px 3.5%;
  /* padding: px; */
  border: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#privacy {
  font-size: 0.8rem;
}

#required {
  font-size: 0.66rem;
  display: flex;
  margin-left: 73%;
  margin-top: -1.4rem;
  padding-top: 4px;
}
#big_height_div > div {
  width: 100%;
  text-align: justify;
  /* margin-bottom: 10px; */
  padding: none;

}
#big_height_div > div>p{
  text-align: justify;
  padding-left: 10px;
  margin-bottom: 10px;
}
#gifts {
  padding-top: 15px;
}
#join > p > i {
  font-family: cursive;
}
#signin {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
#p{
width: 80%;
text-align: center;
/* display: flex;
align-items:center; */
margin: auto;
padding: 20px;
}