div{
    min-width: 40%;
    max-width: 45%;
    border: 1px solid red;
    margin: auto;
}
input{
    display:block;
    max-width:100%;
    min-width: 93%;
    
    margin: auto;
    padding: 10px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
button{
    width: 100%;
    padding: 10px;
}