body {
  margin: 0px;
  padding: 0px;
}
#navbar {
  border: 1px solid red;
  height: 7.5rem;
}
#slide_text {
  height: 2.3rem;
  border: 1px solid green;
}
#slide_link {
  height: 35rem;
  border: 1px solid black;
  margin-bottom: 4rem;
}

#slide {
  width: 100%;
  height: 100%;
}

#radio {
  text-align: right;
  margin: 0.5rem;
  margin-top: 7rem;
  border: 1px solid red;
  position: static;
  margin-right: 5rem;
}

#slide_line_text {
  width: 40%;
  border: 1px solid red;
  margin-top: 2rem;
  text-align: center;
  height: 20rem;
}

.h2 {
  text-align: center;
  font-size: 28px;
  font-family: Montserrat Regular, sans-serif;
  letter-spacing: 1px;
  line-height: 29px;
  font-weight: inherit;
}

.Container {
  height: 50rem;
  border: 1px solid blanchedalmond;
  background-color: rgb(226, 204, 247);
  margin-bottom: 4rem;
  text-align: center;

  margin: auto;
  border: 5px solid greenyellow;

  justify-content: center;
}

#box {
  border: 5px solid rgb(47, 238, 255);

  display: grid;
  width: 55%;
  height: 30rem;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  column-gap: 2rem;

  margin-top: 5rem;
}

#box > div:nth-child(1) {
  width: 25rem;
  height: 30rem;
}

#box > div:nth-child(1) > img {
  width: 25rem;
  height: 30rem;
  width: 100%;
}

#box > div:nth-child(2) {
  background-color: aliceblue;

  width: 25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  column-gap: 8px;

  overflow-x: scroll;
}

#box > div:nth-child(2) > div > img {
  width: 24rem;

  height: 19rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#slide_product2 {
  background-color: aquamarine;
  height: 35rem;
  margin-bottom: 4rem;
}

#slide_product3 {
  background-color: rgb(75, 134, 114);
  height: 35rem;
  margin-bottom: 4rem;
}

#time_line2 {
  background-color: bisque;
  height: 33rem;
  margin-bottom: 4rem;
}

#buttom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  text-align: center;
  width: 100%;

  border: 1px solid red;
}
#buttom > div {
  margin-left: 5px;
  display: grid;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 4px solid rgb(143, 143, 143);
}
#buttom > div > img {
  width: 100%;
}

#ending > div > p {
  font-family: Montserrat Light, sans-serif;
}

#buttom > div > span {
  font-family: Montserrat Semi Bold, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 1;
}

#footer {
  height: 15rem;
  background-color: rgb(162, 157, 157);
}

#slide_product1,
#slide_product2 {
  margin-bottom: 4rem;
}

#slide_p1,
#slide_p2 {
  align-content: flex-end;
  margin-bottom: 0px;
  width: 85%;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
  overflow-x: auto;
  margin: auto;
  height: 400px;
  cursor: pointer;
}

#slide_p1 > div,
#slide_p2 > div {
  text-align: center;
  padding: 8px;
  width: 19rem;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#slide_p1 img,
#slide_p2 img {
  width: 200px;
  height: 200px;
}

#time_line1 {
  background-color: bisque;
  height: 33rem;
  margin-bottom: 4rem;

  border: 1px solid red;

  display: grid;
  align-content: center;
  justify-content: center;
}

#time_line1_box {
  border: 5px solid green;

  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#time_line1_box > div:nth-child(2) {
  border: 1px solid;
  display: grid;
  align-content: center;
  /* padding-left: 2rem; */

  border: 5px solid red;
}

#time_line1_box > div:nth-child(1) {
  padding-left: 10rem;
  border: 5px solid red;
}

#time_line1_box img {
  width: 70%;
}