*{
    color: rgb(13, 13, 76);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  body{
    display: grid;
    grid-template-columns: repeat(1fr,2fr);
    /* margin-left: 27rem;   */
  }
  body>div:nth-child(1){
    width: 20px;
  }

div{
  margin-top: 20px;
  border: 1px solid black;
  width: 90%;
  display: block;
}
#information{
  display: flex;
}
#information>div{
  display: block;
  
}